/* Fix for bullet points in list view */
#gallery li {
    padding-left: 0 !important;
    margin-left: 0 !important;
    display: block !important;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    font-weight: 600;
}

/* Chrome specific fix */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .files-list li {
        display: block !important;
    }
} 